body {
	background-color: bisque;
	text-align: center;
	
}

h1 {
	color: black;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

#main {
	color: blue;
	text-align: center;
}

ul {
	display: inline-block;
}